# Authenticates that an action request came from our Hasura service
ACTION_SECRET=

COOKIE_SIGNING_SECRET=

# The URL of the Hasura GraphQL service, for making requests
HASURA_GRAPHQL_ENDPOINT=http://localhost:3711/v1/graphql
HASURA_ADMIN_SECRET=